{{ $item := .item }}
{{ $has_attachments := partial "functions/has_attachments" $item }}
<article class="pub-entry view-citation">
  <div class="pub-entry-line">
    <h2 class="pub-entry-title">
      <a href="{{ $item.RelPermalink }}">{{ $item.Title | markdownify | emojify }}</a>
    </h2><span class="pub-entry-separator">.</span>

    <span class="pub-entry-authors article-metadata li-cite-author">
      {{- $taxonomy := "authors" -}}
      {{- if $item.Param $taxonomy -}}
        {{- range $index, $author := ($item.GetTerms $taxonomy) -}}
          {{- $highlight_name := $author.Page.Params.highlight_name | default false -}}
          {{- if gt $index 0 }}, {{ end -}}
          <span{{ if $highlight_name }} class="author-highlighted"{{ end }}>
            {{- if $author.RelPermalink -}}
              <a href="{{ $author.RelPermalink }}">{{ $author.LinkTitle }}</a>
            {{- else -}}
              {{ $author.LinkTitle }}
            {{- end -}}
          </span>
          {{- if isset $item.Params "author_notes" -}}
            {{- with (index $item.Params.author_notes $index) -}}
              <sup class="pub-author-note" title="{{ . }}" aria-label="{{ . }}">*</sup>
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    </span>
    <span class="pub-entry-year">({{ $item.Date.Format "2006" }}).</span>

    {{ if $item.Params.publication_short }}
      <span class="pub-entry-venue">{{ $item.Params.publication_short | markdownify }}.</span>
    {{ else if $item.Params.publication }}
      <span class="pub-entry-venue">{{ $item.Params.publication | markdownify }}.</span>
    {{ end }}

    {{ if $has_attachments }}
      <span class="pub-entry-actions btn-links">
        {{ partial "page_links" (dict "page" $item "is_list" 1) }}
      </span>
    {{ end }}
  </div>
</article>
